Repository Growthers/enshita, pull requests merged in 2022-08, with the labels that each got.

#2 feat(front): Add front-end environment
  .github/workflows/fmt.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  front/.editorconfig
  front/.eslintignore
  front/.eslintrc.yml
  front/.gitignore
  front/.npmrc
  front/.prettierignore
  front/.prettierrc.yml
  front/.storybook/main.js
  front/.storybook/preview-head.html
  front/.storybook/preview.js
  front/.stylelintrc.yml
  front/package.json
  front/renovate.json
  front/src/app.tsx
  front/src/components/.gitkeep
  front/src/index.html
  front/src/main.tsx
  front/src/pages/about.tsx
  front/src/pages/home.tsx
  front/src/pages/index.ts
  front/src/routes.tsx
  front/src/stories/.gitkeep
  front/src/styles/.gitkeep
  front/src/tests/.gitkeep
  front/src/vite-env.d.ts
  front/tsconfig.json
  front/tsconfig.node.json
  front/vite.config.ts
  front/yarn.lock
Labels: 🎹フロントエンド

#37 fix(front): Fixed a bug that prevented Vite's HMR from working.
  .github/workflows/fmt.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  front/src/index.html
  front/yarn.lock
Labels: 🐞バグ修正, 🎹フロントエンド

#38 feat(front): Create auto generate scss Actions
  .github/workflows/token.yml
  front/config.json
  renovate.json
Labels: ✨新機能, 🎹フロントエンド

#40 fix(front): Removed reference to head ref from CI's operating conditions.
  .github/workflows/token.yml
Labels: 🐞バグ修正, 🎹フロントエンド

#41 fix(front): Fix CI
  .github/workflows/token.yml
Labels: 🐞バグ修正, 🎹フロントエンド

#42 fix(front): Fix Actions trigger
  .github/workflows/token.yml
Labels: 🐞バグ修正, 🎹フロントエンド

#63 fix(front): fix ESLint target
  .github/workflows/test.yml
  front/package.json
Labels: ⚙修正, 🎹フロントエンド

#77 feat(front): add header
  front/.eslintrc.yml
  front/package.json
  front/public/fonts/Inter-license.txt
  front/public/fonts/Inter.eot
  front/public/fonts/Inter.ttf
  front/public/fonts/Inter.woff
  front/public/fonts/Inter.woff2
  front/public/fonts/NotoSansJp-license.txt
  front/public/fonts/NotoSansJp.eot
  front/public/fonts/NotoSansJp.ttf
  front/public/fonts/NotoSansJp.woff
  front/public/fonts/NotoSansJp.woff2
  front/src/app.tsx
  front/src/components/.gitkeep
  front/src/components/header.tsx
  front/src/stories/.gitkeep
  front/src/stories/header.stories.tsx
  front/src/styles/.gitkeep
  front/src/styles/global.scss
  front/src/styles/header.module.scss
  front/src/tests/.gitkeep
  front/src/tests/__snapshots__/header.test.tsx.snap
  front/src/tests/header.test.tsx
  front/yarn.lock
Labels: ✨新機能, 🎹フロントエンド

#94 feat: バックエンドの環境構築
  server/go.mod
  server/go.sum
Labels: ❄ライブラリ関連, 🛠バックエンド

#96 fix: corrected automerge in renovate.json to true
  renovate.json
Labels: ⚙修正, dependencies, renovate

#78 feat(front): Add footer
  front/src/components/footer.tsx
  front/src/stories/footer.stories.tsx
  front/src/styles/footer.module.scss
  front/src/tests/__snapshots__/footer.test.tsx.snap
  front/src/tests/footer.test.tsx
Labels: ✨新機能, 🎹フロントエンド

#109 chore(front): Rename project to client
  .github/workflows/fmt.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  .github/workflows/token.yml
  client/.editorconfig
  client/.eslintignore
  client/.eslintrc.yml
  client/.gitignore
  client/.npmrc
  client/.prettierignore
  client/.prettierrc.yml
  client/.storybook/main.js
  client/.storybook/preview-head.html
  client/.storybook/preview.js
  client/.stylelintrc.yml
  client/config.json
  client/package.json
  client/public/fonts/Inter-license.txt
  client/public/fonts/Inter.eot
  client/public/fonts/Inter.ttf
  client/public/fonts/Inter.woff
  client/public/fonts/Inter.woff2
  client/public/fonts/NotoSansJp-license.txt
  client/public/fonts/NotoSansJp.eot
  client/public/fonts/NotoSansJp.ttf
  client/public/fonts/NotoSansJp.woff
  client/public/fonts/NotoSansJp.woff2
  client/src/app.tsx
  client/src/components/footer.tsx
  client/src/components/header.tsx
  client/src/index.html
  client/src/libs/apiClient.ts
  client/src/main.tsx
  client/src/pages/about.tsx
  client/src/pages/home.tsx
  client/src/pages/index.ts
  client/src/routes.tsx
  client/src/stories/footer.stories.tsx
  client/src/stories/header.stories.tsx
  client/src/styles/_variables.scss
  client/src/styles/footer.module.scss
  client/src/styles/global.scss
  client/src/styles/header.module.scss
  client/src/tests/__snapshots__/footer.test.tsx.snap
  client/src/tests/__snapshots__/header.test.tsx.snap
  client/src/tests/footer.test.tsx
  client/src/tests/header.test.tsx
  client/src/vite-env.d.ts
  client/tokens/data.json
  client/tsconfig.json
  client/tsconfig.node.json
  client/vite.config.ts
  client/yarn.lock
Labels: 🎹フロントエンド

#106 ci: Change CI workflow
  .github/filters.yml
  .github/workflows/client-build-test.yml
  .github/workflows/client-fmt.yml
  .github/workflows/client-lint.yml
  .github/workflows/client-storybook-test.yml
  .github/workflows/client-test.yml
  .github/workflows/fmt.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  .github/workflows/token.yml
Labels: ⚙修正, 🎹フロントエンド, 🛠バックエンド

#105 chore(front): Fixed Node.js version
  client/package.json
  renovate.json
Labels: 🎹フロントエンド

#126 feat: DBマイグレーションスクリプトの追加
  server/migrations/000001_initialize.down.sql
  server/migrations/000001_initialize.up.sql
Labels: 🛠バックエンド

#139 fix: DBマイグレーションスクリプトの構文エラーの修正
  server/migrations/000001_initialize.up.sql
Labels: ⚙修正, 🛠バックエンド

#140 fix: eventに終了時間が含まれない問題の修正
  server/migrations/000002_add_event_enddate.down.sql
  server/migrations/000002_add_event_enddate.up.sql
Labels: ⚙修正, 🛠バックエンド

#134 feat(back): Add back-end GORM environment
  server/go.mod
  server/go.sum
Labels: ✨新機能, 🛠バックエンド

#136 feat: add event model
  server/models/event.go
Labels: ✨新機能, 🛠バックエンド

#141 feat: add account model
  server/models/account.go
Labels: ✨新機能, 🛠バックエンド

#143 feat(front): Create button and anchor button component
  client/.eslintrc.yml
  client/package.json
  client/src/components/button/anchor-button.tsx
  client/src/components/button/button.tsx
  client/src/components/button/type/model.ts
  client/src/stories/anchor-button.stories.tsx
  client/src/stories/button.stories.tsx
  client/src/styles/anchor-button.module.scss
  client/src/styles/button.module.scss
  client/src/styles/global.scss
  client/src/tests/__snapshots__/anchor-text.test.tsx.snap
  client/src/tests/__snapshots__/button.test.tsx.snap
  client/src/tests/anchor-text.test.tsx
  client/src/tests/button.test.tsx
  client/src/tests/footer.test.tsx
  client/src/tests/header.test.tsx
  client/src/tests/layout.test.tsx
  client/vite.config.ts
  client/yarn.lock
Labels: ✨新機能, 🎹フロントエンド

#152 fix: マイグレーションファイルのコメントがおかしい問題の修正
  server/migrations/000001_initialize.up.sql
Labels: ⚙修正, 🛠バックエンド

#153 fix: レイアウトテーブルに画像urlのカラムが存在しない問題の修正
  server/migrations/000002_add_event_enddate.down.sql
  server/migrations/000003_add_imageurl_to_layout.down.sql
  server/migrations/000003_add_imageurl_to_layout.up.sql
Labels: ⚙修正, 🛠バックエンド

#160 feat: add speakerquotatypes model
  server/models/speakerquotatype.go
Labels: 🛠バックエンド

#161 feat: add application model
  server/models/application.go
Labels: 🛠バックエンド

#163 fix: remove json tags
  server/models/application.go
  server/models/event.go
  server/models/speakerquotatype.go
  server/models/user.go
Labels: ⚙修正, 🛠バックエンド

#165 feat: add speaker model
  server/models/speaker.go
Labels: 🛠バックエンド

#170 fix(front): Unify to be in the same file hierarchy
  client/src/components/button/anchor-button.tsx
  client/src/components/button/button.tsx
  client/src/components/layout/footer.tsx
  client/src/components/layout/header.tsx
  client/src/components/layout/layout.tsx
  client/src/stories/button/anchor-button.stories.tsx
  client/src/stories/button/button.stories.tsx
  client/src/stories/header.stories.tsx
  client/src/stories/layout.stories.tsx
  client/src/stories/layout/footer.stories.tsx
  client/src/stories/layout/header.stories.tsx
  client/src/stories/layout/layout.stories.tsx
  client/src/styles/components/button/anchor-button.module.scss
  client/src/styles/components/button/button.module.scss
  client/src/styles/components/layout/footer.module.scss
  client/src/styles/components/layout/header.module.scss
  client/src/styles/components/layout/layout.module.scss
  client/src/tests/components/button/__snapshots__/anchor-text.test.tsx.snap
  client/src/tests/components/button/__snapshots__/button.test.tsx.snap
  client/src/tests/components/button/anchor-text.test.tsx
  client/src/tests/components/button/button.test.tsx
  client/src/tests/components/layout/__snapshots__/footer.test.tsx.snap
  client/src/tests/components/layout/__snapshots__/header.test.tsx.snap
  client/src/tests/components/layout/__snapshots__/layout.test.tsx.snap
  client/src/tests/components/layout/footer.test.tsx
  client/src/tests/components/layout/header.test.tsx
  client/src/tests/components/layout/layout.test.tsx
Labels: ⚙修正, 🎹フロントエンド

#168 fix: Mail to Email
  server/models/user.go
Labels: ⚙修正, 🛠バックエンド

#172 feat(server/ci): Add migration testing
  .github/labeler.yml
  .github/workflows/server-label-db-migrate.yml
  .github/workflows/server-test.yml
  server/go.mod
  server/go.sum
  server/main.go
  server/migrations/migrations_test.go
Labels: 🛠バックエンド

#181 fix: change directory
  server/models/entities/application.go
  server/models/entities/event.go
  server/models/entities/speaker.go
  server/models/entities/speakerquotatype.go
  server/models/entities/user.go
Labels: ⚙修正, 🛠バックエンド

#195 fix: change directory name
  server/model/entity/application.go
  server/model/entity/event.go
  server/model/entity/speaker.go
  server/model/entity/speakerquotatype.go
  server/model/entity/user.go
Labels: ⚙修正, 🛠バックエンド

#182 feat: layoutのエンティティモデルを追加
  server/models/entities/layout.go
Labels: ✨新機能, 🛠バックエンド

#194 fix: エンティティのリレーションがおかしい問題の修正
  server/model/entity/application.go
  server/model/entity/event.go
  server/model/entity/speaker.go
  server/model/entity/speakerquotatype.go
Labels: 🐞バグ修正, ⚙修正, 🛠バックエンド

#202 ciの修正
  .github/workflows/server-auto-label.yml
Labels: ⚙修正, 🛠バックエンド

#166 fix: unified notation of email
  server/migrations/000004_mail_to_email.down.sql
  server/migrations/000004_mail_to_email.up.sql
Labels: ⚙修正, 🛠バックエンド, 👀要マイグレーション

#204 fix: consolidate directories
  server/model/entity/layout.go
Labels: ⚙修正, 🛠バックエンド

#222 chore(front): Separate configuration files.
  client/package.json
  client/tsconfig.json
  client/vite.config.ts
  client/vitest.config.ts
  client/yarn.lock
Labels: ⚙修正, 🎹フロントエンド

#225 fix(front): Support for APIs not supported by happy-dom
  client/package.json
  client/vitest.config.ts
  client/yarn.lock
Labels: 🐞バグ修正, ❄ライブラリ関連, 🎹フロントエンド

#205 feat(back): add ShowDeliveryLayoutResponse domain
  server/model/domain/show_delivery_layout_response.go
Labels: ✨新機能, 🛠バックエンド

#201 feat(back): add ListFormSubmit domain
  server/model/domain/list_form_submit_response.go
Labels: ✨新機能, 🛠バックエンド

#221 feat(back): add GetPresentationOrderResponse domain
  server/model/domain/get_presentation_order_response.go
Labels: ✨新機能, 🛠バックエンド

#229 add event response domain
  server/model/domain/create_event_response.go
  server/model/domain/event.go
  server/model/domain/get_event_info_response.go
  server/model/domain/get_event_list_response.go
  server/model/domain/update_event_response.go
Labels: ✨新機能, 🛠バックエンド

#233 fix: event entity date
  server/model/entity/event.go
Labels: ⚙修正, 🛠バックエンド

#230 fix: fix spell
  server/model/domain/get_form_response.go
  server/model/entity/application.go
Labels: ⚙修正, 🛠バックエンド

#234 feat: 174 add event request
  server/model/domain/create_event_request.go
  server/model/domain/create_event_response.go
  server/model/domain/event_request.go
  server/model/domain/event_response.go
  server/model/domain/get_event_info_response.go
  server/model/domain/get_event_list_response.go
  server/model/domain/update_event_request.go
  server/model/domain/update_event_response.go
Labels: ✨新機能, 🛠バックエンド

#237 feat: add VerifyOperatorRegistrationTokenRequest entity
  server/model/domain/verify_operator_registration_token_request.go
Labels: ✨新機能, 🛠バックエンド

#248 feat: add CreateBreaktimeRequest (domain)
  server/model/domain/create_breaktime_request.go
Labels: ✨新機能, 🛠バックエンド

#246 feat: add ConfigPresentationOrderRequest entity
  server/model/domain/config_presentation_order_request.go
Labels: ✨新機能, 🛠バックエンド

#244 feat: add SubmitFormRequest entity
  server/model/domain/submit_form_request.go
Labels: ✨新機能, 🛠バックエンド

#241 fix(back): add paragraph to speakers sql
  server/migrations/000005_add_paragraph_to_speakers_down.sql
  server/migrations/000005_add_paragraph_to_speakers_up.sql
Labels: ⚙修正, 🛠バックエンド, 👀要マイグレーション

#240 feat: add LoginOperatorAndAdminRequest entity
  server/model/domain/login_operator_and_admin_request.go
Labels: ✨新機能, 🛠バックエンド

#238 feat: add CreateAdminRequest entity
  server/model/domain/create_admin_request.go
Labels: ✨新機能, 🛠バックエンド

#198 feat(back): add WebSocketResponse model
  server/model/domain/websocketresponse.go
Labels: ✨新機能, 🛠バックエンド

#253 ci(front): Fix Node version
  client/package.json
Labels: 🐞バグ修正, 🎹フロントエンド

#245 feat: add ConfigDeliveryLayoutRequest entity
  server/model/domain/set_layout_config_request.go
Labels: ✨新機能, 🛠バックエンド

#243 feat: add UpdateFormInfoRequest entity
  server/model/domain/update_form_info_request.go
Labels: ✨新機能, 🛠バックエンド

#242 feat: add CreateFormRequest entity
  server/model/domain/create_form_request.go
Labels: ✨新機能, 🛠バックエンド

#239 feat: add VerifyAdminRegistrationTokenRequest entity
  server/model/domain/verify_admin_registration_token_request.go
Labels: ✨新機能, 🛠バックエンド

#251 feat: 運営アカウント一覧のドメインモデル
  server/model/domain/get_operator_list_response.go
Labels: 🛠バックエンド

#256 chore: add paragraph
  server/model/entity/speaker.go
Labels: ⚙修正, 🛠バックエンド

#260 feat(front): Add jobs for publishing storybook
  .github/workflows/client-chromatic.yml
  client/.gitignore
  client/.storybook/main.js
  client/package.json
  client/yarn.lock
Labels: 📒ドキュメント, ✨新機能, ❄ライブラリ関連, 🎹フロントエンド

#264 refactor model
  server/model/domain/create_admin_request.go
  server/model/domain/create_form_request.go
  server/model/domain/create_operator_account_request.go
  server/model/domain/event_response.go
  server/model/domain/form.go
  server/model/domain/get_form_response.go
  server/model/domain/image.go
  server/model/domain/insert_form_request.go
  server/model/domain/question.go
  server/model/domain/send_form_request.go
  server/model/domain/set_layout_config_request.go
  server/model/domain/show_delivery_layout_response.go
  server/model/domain/speaker_quota_type.go
  server/model/domain/submit_form_request.go
  server/model/domain/token.go
  server/model/domain/update_form_info_request.go
  server/model/domain/user.go
  server/model/domain/verify_admin_registration_token_request.go
  server/model/domain/verify_operator_registration_token_request.go
  server/model/domain/websocketresponse.go
Labels: ⚙修正, 🛠バックエンド
