Repository Growthers/enshita, pull requests merged in 2022-09, with the labels that each got.

#278 ci(front): Fix chromatic test
  .github/workflows/client-chromatic-test.yml
  .github/workflows/client-chromatic.yml
  .github/workflows/client-fmt.yml
  client/.storybook/main.js
Labels: ⚙修正, ❄ライブラリ関連, 🎹フロントエンド

#280 ci(front): Fix Chromatic build directory
  .github/workflows/client-chromatic-test.yml
  .github/workflows/client-chromatic.yml
Labels: 🐞バグ修正, 🎹フロントエンド

#282 ci(front): Fix regex
  .github/workflows/client-chromatic-test.yml
Labels: 🐞バグ修正, 🎹フロントエンド

#228 Feat(front): レイアウト回りの修正
  client/src/components/layout/footer.tsx
  client/src/components/layout/header.tsx
  client/src/styles/components/layout/footer.module.scss
  client/src/styles/components/layout/header.module.scss
  client/src/styles/components/layout/layout.module.scss
  client/src/tests/components/layout/__snapshots__/footer.test.tsx.snap
  client/src/tests/components/layout/__snapshots__/header.test.tsx.snap
  client/src/tests/components/layout/__snapshots__/layout.test.tsx.snap
Labels: ⚙修正, 🎹フロントエンド

#196 Feat(front): add event page
  client/package.json
  client/src/components/button/anchor-button.tsx
  client/src/components/button/tweet-button.tsx
  client/src/components/button/type/model.ts
  client/src/components/event/date.tsx
  client/src/components/event/description.tsx
  client/src/components/event/overview.tsx
  client/src/pages/event.tsx
  client/src/pages/index.ts
  client/src/routes.tsx
  client/src/stories/button/tweet-button.stories.tsx
  client/src/stories/event/date.stories.tsx
  client/src/stories/event/description.stories.tsx
  client/src/stories/event/overview.stories.tsx
  client/src/styles/components/button/tweet-button.module.scss
  client/src/styles/components/event/date.module.scss
  client/src/styles/components/event/description.module.scss
  client/src/styles/components/event/overview.module.scss
  client/src/styles/pages/event.module.scss
  client/src/tests/components/button/__snapshots__/tweet-button.test.tsx.snap
  client/src/tests/components/button/tweet-button.test.tsx
  client/src/tests/components/event/__snapshots__/date.test.tsx.snap
  client/src/tests/components/event/__snapshots__/description.test.tsx.snap
  client/src/tests/components/event/__snapshots__/overview.test.tsx.snap
  client/src/tests/components/event/date.test.tsx
  client/src/tests/components/event/description.test.tsx
  client/src/tests/components/event/overview.test.tsx
  client/src/tests/utils/date.test.tsx
  client/src/types/global-models.ts
  client/src/utils/date.ts
Labels: ✨新機能, 🎹フロントエンド

#295 feat(front): Add SWR
  client/package.json
  client/src/libs/apiClient.ts
  client/src/libs/axios.ts
  client/src/pages/event/index.tsx
  client/src/pages/event/type/model.ts
  client/src/routes.tsx
  client/src/types/global-models.ts
  client/vite.config.ts
  client/yarn.lock
Labels: ❄ライブラリ関連, 🎹フロントエンド

#261 feat(front): create status message component
  client/src/components/layout/statusMessage.tsx
  client/src/components/layout/type/model.ts
  client/src/stories/layout/statusMessage.stories.tsx
  client/src/styles/components/layout/statusMessage.module.scss
  client/src/tests/components/layout/__snapshots__/statusMessage.test.tsx.snap
  client/src/tests/components/layout/statusMessage.test.tsx
Labels: ✨新機能, 🎹フロントエンド

#300 feat(front): Hide header and footer when url path mathchs
  client/src/app.tsx
  client/src/components/button/anchor-button.tsx
  client/src/components/button/button.tsx
  client/src/components/button/tweet-button.tsx
  client/src/components/button/type/model.ts
  client/src/components/event/date.tsx
  client/src/components/event/description.tsx
  client/src/components/event/overview.tsx
  client/src/components/event/type/model.ts
  client/src/components/layout/footer.tsx
  client/src/components/layout/header.tsx
  client/src/components/layout/index.tsx
  client/src/components/layout/layout.tsx
  client/src/components/layout/statusMessage.tsx
  client/src/components/layout/type/model.ts
  client/src/components/status-message/index.tsx
  client/src/components/status-message/type/model.ts
  client/src/pages/event/index.tsx
  client/src/routes.tsx
  client/src/stories/button/anchor-button.stories.tsx
  client/src/stories/button/button.stories.tsx
  client/src/stories/button/tweet-button.stories.tsx
  client/src/stories/event/date.stories.tsx
  client/src/stories/event/description.stories.tsx
  client/src/stories/event/overview.stories.tsx
  client/src/stories/layout/footer.stories.tsx
  client/src/stories/layout/header.stories.tsx
  client/src/stories/layout/layout.stories.tsx
  client/src/stories/status-message/status-message.stories.tsx
  client/src/styles/components/event/description.module.scss
  client/src/styles/components/event/overview.module.scss
  client/src/styles/components/layout/footer.module.scss
  client/src/styles/components/layout/header.module.scss
  client/src/styles/components/layout/layout.module.scss
  client/src/styles/components/status-message/status-message.module.scss
  client/src/tests/components/event/__snapshots__/description.test.tsx.snap
  client/src/tests/components/event/__snapshots__/overview.test.tsx.snap
  client/src/tests/components/layout/__snapshots__/footer.test.tsx.snap
  client/src/tests/components/layout/__snapshots__/header.test.tsx.snap
  client/src/tests/components/layout/__snapshots__/layout.test.tsx.snap
  client/src/tests/components/layout/__snapshots__/statusMessage.test.tsx.snap
  client/src/tests/components/status-message/__snapshots__/status-message.test.tsx.snap
  client/src/tests/components/status-message/status-message.test.tsx
  client/src/utils/date.ts
Labels: ⚙修正, 🎹フロントエンド

#311 feat(front): Add lyrics logo and use it in Header
  client/public/statics/lyrics-dark.svg
  client/public/statics/lyrics.svg
  client/src/components/layout/header.tsx
  client/src/styles/components/layout/header.module.scss
  client/src/tests/components/layout/__snapshots__/header.test.tsx.snap
  client/src/tests/components/layout/__snapshots__/layout.test.tsx.snap
Labels: 🎨デザイン, 🎹フロントエンド

#313 chore(front): Move form wrapper to form element directory
  client/src/components/apply-form/area-control.tsx
  client/src/components/apply-form/index.ts
  client/src/components/apply-form/input-control.tsx
  client/src/components/apply-form/radio-control.tsx
  client/src/components/apply-form/type/model.ts
  client/src/components/form-element/area-input.tsx
  client/src/components/form-element/radio-input.tsx
  client/src/components/form-element/text-input.tsx
  client/src/components/form-element/type/model.ts
  client/src/components/form-element/wrapper.tsx
  client/src/components/form-input/type/model.ts
  client/src/pages/apply-form/index.tsx
  client/src/pages/apply-form/type/model.ts
  client/src/pages/apply-form/type/schema.ts
  client/src/stories/form-input/area-input.stories.tsx
  client/src/stories/form-input/radio-input.stories.tsx
  client/src/stories/form-input/text-input.stories.tsx
Labels: ⚙修正, 🎹フロントエンド

#262 feat: UserRepositoryとその周辺の仮実装
  server/go.mod
  server/go.sum
  server/model/domain/user.go
  server/password/argon2/argon2.go
  server/password/argon2/argon2_test.go
  server/password/encorder.go
  server/repository/errors.go
  server/repository/gorm/repository.go
  server/repository/gorm/user.go
  server/repository/user.go
Labels: ✨新機能, ❄ライブラリ関連, 🛠バックエンド

#318 feat(front): Create landing page
  client/public/statics/undraw_business_plan_re_0v81.svg
  client/public/statics/undraw_post_re_mtr4.svg
  client/public/statics/undraw_schedule_re_2vro.svg
  client/src/components/image-container/index.tsx
  client/src/components/image-container/type/model.ts
  client/src/pages/about.tsx
  client/src/pages/index.ts
  client/src/pages/landing.tsx
  client/src/routes.tsx
  client/src/stories/image-container/image-container.stories.tsx
  client/src/styles/components/image-container/image-container.module.scss
  client/src/styles/pages/landing.module.scss
  client/src/tests/components/image-container/__snapshots__/image-container.test.tsx.snap
  client/src/tests/components/image-container/image-container.test.tsx
Labels: ✨新機能, 🎹フロントエンド

#322 feat(front): Create main page
  client/package.json
  client/src/components/event-card/chip.tsx
  client/src/components/event-card/index.tsx
  client/src/components/event-card/type/model.ts
  client/src/components/layout/header.tsx
  client/src/pages/apply-form/index.tsx
  client/src/pages/event/index.tsx
  client/src/pages/home.tsx
  client/src/pages/index.ts
  client/src/pages/landing.tsx
  client/src/pages/portal.tsx
  client/src/routes.tsx
  client/src/stories/event-card/chip.stories.tsx
  client/src/stories/event-card/event-card.stories.tsx
  client/src/styles/components/event-card/chip.module.scss
  client/src/styles/components/event-card/event-card.module.scss
  client/src/styles/components/layout/header.module.scss
  client/src/styles/font-size.scss
  client/src/styles/pages/portal.module.scss
  client/src/tests/components/event-card/__snapshots__/chip.test.tsx.snap
  client/src/tests/components/event-card/__snapshots__/event-card.test.tsx.snap
  client/src/tests/components/event-card/chip.test.tsx
  client/src/tests/components/event-card/event-card.test.tsx
  client/src/tests/components/layout/__snapshots__/header.test.tsx.snap
  client/src/tests/components/layout/__snapshots__/layout.test.tsx.snap
  client/yarn.lock
Labels: ✨新機能, 🎹フロントエンド
